<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://use.fontawesome.com/65acd3825f.js"></script>
  {{>head}}
  <link href="./css/carrinho.css" rel="stylesheet">
  <title>Carrinho</title>
</head>
<body>
  {{>header}}
  
  <div class="main_div">
    <div class="carrinho__main">
      <h1>Meu carrinho</h1>

      <div class="carrinho__container">

        <div class="carrinho__items shadowG">
          {{#each produtos}}
            {{#if this.Cesta}}
              {{>carrinho_cesta this}}
            {{else}}
              {{>carrinho_item this}}
            {{/if}}
          {{/each}}
        </div>

        <div class="carrinho__checkout shadowG">
          <h3>Informações do pedido</h3>

          <div style="flex-direction: row;">
            <div style="flex-direction: column;">
              <span>Subtotal</span>
              <span>Envio</span>
              <span>Desconto</span>
            </div>

            <div style="flex-direction: column;">
              <span>R$ <span data-preco="{{subtotal}}" data-subtotal="{{subtotal}}">{{subtotal}}</span></span>
              <span>R$ 0,00</span>
              <span>R$ 0,00</span>
            </div>
          </div>

          <div class="total">
            <span>Total</span>
            <span>R$ <span data-preco="{{subtotal}}" data-subtotal="{{subtotal}}">{{subtotal}}</span></span>
          </div>

          <a href="">Continuar a compra</a>
        </div>

      </div>
    </div>
  </div>

  {{>footer}}
  <script src="./js/carrinho.js"></script>
</body>
</html>