<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Conta</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Rochester&family=Sedgwick+Ave&display=swap" rel="stylesheet">
    {{>head}}
    <link href="css/conta.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {{>header}}

    <div class="main_div">
        <div class="conta_main">
            <div id="CaixaAlterações">
                <form>
                    <p>Nome:</p>
                    <input value="{{dados.Nome}}" disabled autocomplete="off" type="text" name="" placeholder="Nome" id="Nome">
                    <p>E-mail:</p>
                    <input value="{{dados.Email}}" disabled autocomplete="off" type="email" name="" placeholder="E-mail" id="Email">
                    <p>Endereço:</p>
                    <input value="{{dados.Endereco}}" disabled autocomplete="off" type="text" name="" placeholder="Endereço" id="Endereco">
                    <p>Senha:</p>
                    <input value="{{dados.Email}}" disabled autocomplete="off" type="password" name="" placeholder="Senha atual: #">
                    <p>Celular:</p>
                    <input value="{{dados.Celular}}" disabled autocomplete="off" type="tel" name="" placeholder="9 99999 9999" id="Celular">
                    <input id="end" type="submit" name="" value="Editar">
                </form>
            </div>
        </div>
    </div>

    {{>footer}}
    <script src="./js/conta.js"></script>
</body>
</html>