<div class="main-section-item cesta" id="{{_id}}" data-tipo="cesta" >
  <img src="./img/cesta_frutas.jpg" />
  <h2>{{Nome}}</h2>

  <ul>
    {{#each Produtos}}
      <li><span class="quantidade">{{this.Quantidade}}g</span>{{this.Nome}}</li>
    {{/each}}
  </ul>

  <span>R$<span class="preço" data-preco="{{Preco}}">{{Preco}}</span>por<span class="medida">Unidade</span></span>

  <div class="quatity_container">
    <form class="quantity_form">
      <input type="button" value="-" name="pop" >
    </form>

    <input size="1" autocomplete="off" type="number" value="1" class="quantity_input" max="10" maxlength="2" min="1" name="quantity" >

    <form class="quantity_form">
      <input type="button" value="+" name="pop" >
    </form>
  </div>

  <span style="text-align: center; color: #999999"><span style="font: inherit; color: inherit;" data-estoque="{{Estoque}}">{{Estoque}}</span>disponíveis</span>
  
  <button name="add">Adicionar ao carrinho</button>
</div>