<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://use.fontawesome.com/65acd3825f.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap" rel="stylesheet">
  <link href="./css/reset.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
  <link href="./css/header.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header_container">
      <div class="title"> 
        <img id="logo" src="./img/icone_cabecalho.png" alt="Feira Ascii"/>
        <h1 id="title" onclick="window.location='/'" >Feira Ascii</h1>
      </div>

      <div class="links_container">
        {{#if home}}
          {{!-- se estiver na pagina home  --}}
          <div class="categorys">
            <a class="category_button">Categorias
              <i class="fa fa-chevron-down fa-xs" aria-hidden="true"></i>
            </a>
            <div class="category_list">
              <a href="/#1">Hortaliças</a>
              <a href="/#2">Grãos</a>
              <a href="/#3">Frutas</a>
              <a href="/#4">Cestas</a>
            </div>
          </div>
        {{else}}
          <a href="/">Inicio</a>
        {{/if}}

        {{#if logged}}
          {{!-- se estiver logado --}}
          <a href="/carrinho" >Carrinho</a>
          <a id="account" >Conta<i id="icon" class="fa fa-chevron-down fa-xs" aria-hidden="true"></i></a>
          <div class="account_info">
            <a href="/conta" >Gerenciar conta</a>
            <a href="/sair" >Sair</a>
          </div>
          
          <script>
            const button = document.querySelector("#account");
            const list = document.querySelector(".account_info")
            const icon = document.querySelector("#icon");
            
            button.addEventListener("click", function() {
              // mostra ou esconde menu da Conta
              list.classList.toggle("active")
              // anima o icon da seta
              icon.classList.toggle("icon-active")
            });
          </script>
        {{else}}
          {{!-- se nao estiver logado  --}}
          {{#if login}}
            {{!-- se estiver na pagina de login  --}}
            <a href="/cadastro" >Cadastro</a>
          {{else}}
            <a href="/login" >Entrar</a>
          {{/if}}
        {{/if}}
      </div>

      <i class="fa fa-2x fa-bars menu" id="menu" aria-hidden="true"></i>
    </div>

    <div class="links_container-mobile">
      {{#if logged}}
        {{!-- se estiver logado --}}
        <a href="/" >Inicio</a>
        <a href="/carrinho" >Carrinho</a>
        <a href="/conta" >Gerenciar conta</a>
        <a href="/sair" >Sair</a>
      {{else}}
        {{!-- se nao estiver logado  --}}
        {{#if login}}
          {{!-- se estiver na pagina de login  --}}
          <a href="/" >Inicio</a>
          <a href="/cadastro" >Cadastro</a>
        {{else}}
          <a href="/" >Inicio</a>
          <a href="/login" >Entrar</a>
        {{/if}}
      {{/if}}

      <script>
        const menu_button = document.querySelector("#menu");
        const mobile_list = document.querySelector(".links_container-mobile")
        
        menu_button.addEventListener("click", function() {
          // mostra ou esconde o menu
          mobile_list.classList.toggle("menu_active");
        });
      </script>
    </div>
  </header>
</body>
</html>